.shameless-bump {
	font-family: 'PT Sans', sans-serif;
	font-size: 1em;
}

a:link, a:visited, a:active { 
	text-decoration: none; 
	font-weight: bold;
}

body {
	background-color: #FFF;
}

.logo {
	position: relative;
	left: 8.5em;
	padding-bottom: 1em;
}
/* header {
	font-size: 2.5em;
	font-family: 'Alex Brush', cursive;
	text-align: center;
	color: #AA1100;
	padding-bottom: 8px;
	font-weight: 600;
}
Null until image sucks, which is never.*/

.top-container {
	margin: 0 auto;
	width: 750px;
	height: 300px;
}

.search-area {
	margin: 0 auto;
	border: solid 1px;
	width: 600px;
	height: 200px;
	background-color: #F4F4F4;
}

.gray-results {
	margin: 0 auto;
	position:relative;
}

.color-results {
	
}

.selections {
	display: inline;
}

.search {
	width: 145px;
	height: 35px;
	color: #FFF;
	font-weight: bold;
	font-family: 'Libre Baskerville', serif;
	background-color: #9B262F;
	border: 0;
	position:relative;
	top: 5em;
	left: 15em;
}

.img-list-gray {
	list-style: none;
	margin: 0 auto;
	position:relative;
	display: inline;
	float:center;
}

.float-right {

}